Meu metodo de ensino consite em uma semana esta estudando pelo curso/youtube e na outra abrir a documentaçao oficial da linguagem e escrever os codigos assim eu  tenho meto de evoluºao masi rapida o curso resume tudo mastigado para te ruma curva de aprendizado maior já a documentaçao vai dme da profundidade , essa parte aqui é justamente da documentaçao oficial -

In [3]:
#https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html

import pandas as pd

In [4]:
#Aqui eu  criei um data frame  no arquivo csv
teste = pd.read_csv("lista_de_vendas.csv")

In [5]:
#abrir o meu df
teste

            Data                  Produto  Quantidade  Valor_Unitario
0     2022-08-22                  Mochila        81.0           435.0
1     2022-06-27                  Macacão         NaN             NaN
2     2022-05-26            Sapato Social        89.0           220.0
3     2022-11-21                    Tênis        63.0           103.0
4     2022-02-16                     Anel         NaN           146.0
5     2022-11-29                    Sutiã        91.0           268.0
6     2022-03-14            Jaqueta Jeans         NaN           404.0
7     2022-05-16                   Brinco        77.0           241.0
8     2022-05-07               Short Saia        76.0             NaN
9     2022-11-24     Camiseta Manga Longa        79.0             NaN
10    2022-02-03           Blusa de Renda         2.0           485.0
11    2022-02-28     Camiseta Manga Longa        23.0           373.0
12    2022-08-07          Sapato de Salto        73.0             NaN
13    2022-11-16                  Bermuda         NaN            95.0
14    2022-02-19                  Moletom        16.0             NaN
15    2022-12-09            Saia de Couro        11.0           385.0
16    2022-06-21            Camisa Xadrez        70.0           324.0
17    2022-09-24                Sapatênis        58.0           404.0
18    2022-09-19                   Camisa         NaN            53.0
19    2022-06-25            Saia de Couro         5.0           234.0
20    2022-08-08          Blusa Ciganinha         NaN           180.0
21    2022-01-04                   Regata         NaN           393.0
22    2022-11-12            Saia de Couro        89.0             NaN
23    2022-01-01     Vestido Transpassado         NaN           361.0
24    2022-10-28                   Suéter        83.0           165.0
25    2022-07-01                  Macacão         6.0             NaN
26    2022-08-23                    Cinto         NaN           495.0
27    2022-06-29                    Bolsa         6.0           386.0
28    2022-10-04                     Anel         NaN            80.0
29    2022-05-07                 Pulseira        24.0            90.0
...          ...                      ...         ...             ...
9970  2022-07-26               Saia Jeans        50.0            53.0
9971  2022-06-18                   Brinco        82.0           249.0
9972  2022-08-08             Camisa Jeans        83.0           496.0
9973  2022-04-27                   Brinco        52.0           413.0
9974  2022-07-12  Vestido Tomara que Caia        57.0           159.0
9975  2022-06-06            Blusa de Tule         NaN           464.0
9976  2022-10-25             Camisa Jeans        22.0           421.0
9977  2022-01-01                 Cardigan         5.0           489.0
9978  2022-04-04             Camisa Jeans         NaN           493.0
9979  2022-02-06          Camiseta Básica        85.0           294.0
9980  2022-10-23                   Camisa        68.0           150.0
9981  2022-07-30            Macacão Curto        17.0           185.0
9982  2022-07-28                    Tênis         NaN             NaN
9983  2022-09-05                   Blazer         NaN           343.0
9984  2022-12-15                    Bolsa        61.0           118.0
9985  2022-02-14                    Lenço        26.0           287.0
9986  2022-06-30            Blusa Cropped        94.0           453.0
9987  2022-04-29                   Regata        97.0           376.0
9988  2022-10-14             Calça Social        41.0           411.0
9989  2022-02-08                   Brinco        41.0            82.0
9990  2022-08-27        Vestido Ciganinha        10.0           329.0
9991  2022-04-08            Camisa Social         NaN             NaN
9992  2022-06-06                  Relógio        12.0           149.0
9993  2022-01-14                  Jaqueta        29.0           280.0
9994  2022-11-15            Camisa Social         NaN           172.0
9995  2022-09-26                  Bermuda         1.0           316.0
9996  2022-08-15                    Cinto        94.0             NaN
9997  2023-01-01        Sandália de Salto        93.0           240.0
9998  2022-07-06                     Boné         8.0           104.0
9999  2022-09-20        Sandália de Salto         NaN           380.0

[10000 rows x 4 columns]

In [9]:
#para melhorar a visualizaçao e mostrar a 5 primeira
teste.head()

         Data           Produto  Quantidade  Valor_Unitario
0  2022-10-22               Top         NaN             NaN
1  2022-10-26           Jaqueta        77.0            50.0
2  2022-05-13  Camisa Manga 3/4        92.0             NaN
3  2022-09-10           Gravata        15.0           191.0
4  2022-03-19               Top         NaN           194.0

In [10]:
teste.dtypes

Data               object
Produto            object
Quantidade        float64
Valor_Unitario    float64
dtype: object

In [6]:
#O método info() fornece informações técnicas sobre a DataFrame
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
Data              10000 non-null object
Produto           10000 non-null object
Quantidade        7015 non-null float64
Valor_Unitario    8023 non-null float64
dtypes: float64(2), object(2)
memory usage: 312.6+ KB

 teste info esta informando  que   relamente é um DataFrame
 existe 10000 entradas ou seja isso é numero de linhas
 sao 4 colunas
 data,produto sao "object" ou seja sao dados textuais
 ja quantidade,valor_unitario sao "float"sao numeros interios
 dtypes mostra o tipo de dados
 memory usage é a quantidade de memoria usado nela

In [7]:
teste.head()

         Data        Produto  Quantidade  Valor_Unitario
0  2022-08-22        Mochila        81.0           435.0
1  2022-06-27        Macacão         NaN             NaN
2  2022-05-26  Sapato Social        89.0           220.0
3  2022-11-21          Tênis        63.0           103.0
4  2022-02-16           Anel         NaN           146.0

In [9]:
#selecionando uma coluna expesifica
quantidade = teste["Quantidade"]
quantidade.head()

0    81.0
1     NaN
2    89.0
3    63.0
4     NaN
Name: Quantidade, dtype: float64

In [10]:
#saber a quantidade de linha que tem essa determina coluna 
teste["Quantidade"].shape

(10000,)

In [12]:
#selecionando mais de uma coluna.

quantidade_produto = teste[["Quantidade","Produto"]]
quantidade_produto.head()

   Quantidade        Produto
0        81.0        Mochila
1         NaN        Macacão
2        89.0  Sapato Social
3        63.0          Tênis
4         NaN           Anel

OBS:Os colchetes internos definem a Lista de python com nomes de colunas,
considerando os suportes externos são usados para selecionar os dados de 
um pandas DataFrame como visto no exemplo anterior

In [13]:
#Filtrando linha espesifica
quant_50 = teste[teste["Quantidade"]>35]
quant_50.head()

         Data        Produto  Quantidade  Valor_Unitario
0  2022-08-22        Mochila        81.0           435.0
2  2022-05-26  Sapato Social        89.0           220.0
3  2022-11-21          Tênis        63.0           103.0
5  2022-11-29          Sutiã        91.0           268.0
7  2022-05-16         Brinco        77.0           241.0

Selecionando uma linhas com base em uma expressão condicional, use uma condição interna os suportes de seleção [].

In [15]:
teste_50 = teste["Quantidade"]>50
teste_50.head()

0     True
1    False
2     True
3     True
4    False
Name: Quantidade, dtype: bool

testando linha por linha se a condiçao verdadeira ou falsa

A saída da expressão condicional (>, mas também ==, !=, <, <=,… funcionaria) é na verdade um pandas Series de valores booleanos (ou True ou False) com o mesmo número de linhas como o original DataFrame. Tal Series valores booleanos pode ser usado para filtrar o DataFrame colocando-o entre o suportes de seleção []. Apenas linhas para as quais o valor é True serão selecionados.

In [18]:
#mostarando quantas linhas  se enquandra na minha pesquisa/ 4547 linha sao maiores que 50 em "quantidade" 
quant_50.shape

(4547, 4)

In [22]:
#adicionando uma nova coluna 
teste["Valor_com_imposto"] = teste["Valor_Unitario"]*0.10+teste["Valor_Unitario"]
teste.head()

,Data,Produto,Quantidade,Valor_Unitario,valor_imposto,Valor_com_imposto
0,2022-08-22,Mochila,81.0,435.0,43.5,478.5
1,2022-06-27,Macacão,NaN,NaN,NaN,NaN
2,2022-05-26,Sapato Social,89.0,220.0,22.0,242.0
3,2022-11-21,Tênis,63.0,103.0,10.3,113.3
4,2022-02-16,Anel,NaN,146.0,14.6,160.6

Os operadores matemáticos (+, -, *, /,…) ou operadores lógicos (<, >, ==,…) trabalho em termos de elementos.
O último já era usado no tutorial de dados de subconjunto filtrar linhas de uma tabela usando uma expressão condicional.

OBS:O cálculo dos valores é feito em termos de elementos. Isto significa que todos os valores na coluna dada são multiplicado por 10% e adcionando valor dela de uma vez. Você não precisa usar um loop para iterar cada uma das linhas!