In [ ]:
#https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html

import pandas as pd

In [3]:
#Aqui eu  criei um data frame  no arquivo csv
teste = pd.read_csv("lista_de_vendas.csv")

In [4]:
#abrir o meu df
teste

            Data                  Produto  Quantidade  Valor_Unitario
0     2022-10-22                      Top         NaN             NaN
1     2022-10-26                  Jaqueta        77.0            50.0
2     2022-05-13         Camisa Manga 3/4        92.0             NaN
3     2022-09-10                  Gravata        15.0           191.0
4     2022-03-19                      Top         NaN           194.0
5     2022-04-26            Saia de Couro         NaN           149.0
6     2022-07-11                    Luvas         NaN           460.0
7     2022-08-06        Sandália Rasteira         NaN           217.0
8     2022-05-04                    Tênis        85.0           168.0
9     2022-02-11                  Jaqueta        94.0           357.0
10    2022-08-02                    Cinto        35.0            68.0
11    2022-04-08          Blusa Ciganinha        68.0           434.0
12    2022-08-01              Calça Jeans         NaN            70.0
13    2022-06-03            Vestido Longo        94.0           305.0
14    2022-12-18            Macacão Curto         NaN             NaN
15    2022-11-20                  Gravata         NaN           290.0
16    2022-07-31  Vestido Tomara que Caia        57.0             NaN
17    2022-09-23            Saia Plissada        91.0           252.0
18    2022-01-17          Blusa de Tricot        63.0           122.0
19    2022-11-24       Camisa Manga Curta        23.0           253.0
20    2022-06-14                 Cachecol        23.0             NaN
21    2022-07-18               Saia Longa        30.0           476.0
22    2022-09-29            Blusa de Frio         NaN           154.0
23    2022-12-09                     Boné        59.0             NaN
24    2022-03-09                 Sandalia        41.0           496.0
25    2022-06-17        Sandália de Salto        27.0           295.0
26    2022-06-25        Vestido Ciganinha        62.0           315.0
27    2022-10-30        Sandália Rasteira        91.0           101.0
28    2022-12-05        Sandália Rasteira        54.0           360.0
29    2022-11-29         Jaqueta de Couro        92.0           222.0
...          ...                      ...         ...             ...
9970  2022-05-20                  Bermuda        66.0           480.0
9971  2022-08-07        Blusa Manga Longa         NaN           424.0
9972  2022-01-11       Camisa Manga Curta         NaN            59.0
9973  2022-03-09            Vestido Longo        40.0            74.0
9974  2022-03-10                    Calça        25.0           255.0
9975  2022-07-08            Saia de Couro        71.0           490.0
9976  2022-06-28                    Tênis         NaN           274.0
9977  2022-08-05       Camiseta Estampada         NaN           481.0
9978  2022-08-22     Camiseta Manga Longa         NaN           191.0
9979  2022-03-25                    Luvas         NaN           383.0
9980  2022-03-05        Sandália Rasteira         NaN             NaN
9981  2022-11-08                   Casaco        72.0           483.0
9982  2022-11-15                     Saia        35.0             NaN
9983  2022-12-13                   Suéter         8.0           260.0
9984  2022-07-04         Vestido Longuete         NaN           257.0
9985  2022-08-14               Saia Longa        69.0             NaN
9986  2022-12-09               Short Saia         NaN           265.0
9987  2022-10-29                     Body        47.0             NaN
9988  2022-09-18                    Sutiã        37.0           434.0
9989  2022-10-08              Camisa Polo        50.0             NaN
9990  2022-04-20                   Colete         NaN           101.0
9991  2022-03-23                 Cachecol        96.0             NaN
9992  2023-01-01        Vestido Ciganinha         6.0           258.0
9993  2022-09-17            Macacão Curto        98.0             NaN
9994  2022-06-16                     Meia         7.0           399.0
9995  2022-09-26            Blusa de Alça         5.0             NaN
9996  2022-03-09         Jaqueta de Couro        81.0           158.0
9997  2022-03-19          Blusa de Tricot        88.0           273.0
9998  2022-05-20          Blusa de Crochê        41.0           201.0
9999  2022-08-13            Vestido Curto         NaN             NaN

[10000 rows x 4 columns]

In [9]:
#para melhorar a visualizaçao e mostrar a 5 primeira
teste.head()

         Data           Produto  Quantidade  Valor_Unitario
0  2022-10-22               Top         NaN             NaN
1  2022-10-26           Jaqueta        77.0            50.0
2  2022-05-13  Camisa Manga 3/4        92.0             NaN
3  2022-09-10           Gravata        15.0           191.0
4  2022-03-19               Top         NaN           194.0

In [10]:
teste.dtypes

Data               object
Produto            object
Quantidade        float64
Valor_Unitario    float64
dtype: object